.g_frame {
    background-color:#EEE;
}

.g_title {
    color:#CCCCCC;
    text-align:center;
    text-shadow: black 0px 0px 5px;
    font-size:3em;
    font-weight:bold;
}

.g_input {
    border-radius:5px;
    padding:5px;
    margin:5px;
    
    box-shadow:none;
    outline: none;
	border: #AAA 1px solid;
    
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.g_input:hover {
    box-shadow: #ff4b4b 0px 0px 7px;
}

.g_input:focus {
    box-shadow: #3098ff 0px 0px 7px;
}

.empty_input {
	color: #CCC;
}

.non_empty {
	transition-property: background-color,box-shadow,border-color;
	transition-duration: 0.5s;
}

.g_input.non_empty {
}

.g_button {
	font-size: 1.25em;
	top: 0px;
	text-decoration: none;
	position: relative;
	
	color:#666;
	padding: 5px 15px 5px 15px;
	margin: 5px;
	
	border: #AAA solid 1px;
	border-radius: 5px;

	background-color: #F9F9F9;
	box-shadow: #333 0px 0px 0px;
	
	transition: color 0.5s,background-color 0.5s;
	-webkit-transition: color 0.5s,background-color 0.5s;
	-o-transition: color 0.5s,background-color 0.5s;
	-moz-transition: color 0.5s,background-color 0.5s;
}

.g_button:hover {
	color:#222;
	background-color: #DDD;
}

.g_button.main_button {
	color: #DDD;
	background-color: #5AB;
	border-color: #79D;
}

.g_button.main_button:hover {
	background-color: #28A;
	color:white;
}

.mailBody {
	margin:0;
	
	background: #DEF;
}

.mailRow {
	border: #999 1px solid;
}

.mailRow + .mailRow {
	border-top:none;
}

.mailTitle {
	margin: 0;
	padding: 5px 0 5px 15px;
	transition: padding-left 0.5s,background-color 0.5s;;
	
	color: #378;
	font-weight: bold;
	font-size:1.5em;
	
	background-color: #DDD;
}

.mailRow[status="opened"] > .mailTitle {
	padding-left: 20px;
	background-color:#DDD;
}

.mailCon {
	marginï¼š0;
	padding: 10px 50px 20px 10px;
	
	/*on init*/
	display: none;
	height: auto;

	background: #EEE;
	overflow: hidden;
}
