<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="Optime"
	version="2.4">
	
	<display-name>Eschool</display-name>
	
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.MailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>tk.circuitcoder.grafixplane.user.User.SessionListener</listener-class>
	</listener>
	
</web-app>
