<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="Optime"
	version="2.4">
	
	<display-name>Eschool</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.GrafixPlane$InfoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/server-info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>tk.circuitcoder.grafixplane.servlet.MailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>tk.circuitcoder.grafixplane.user.User$SessionListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>ControlFilter</filter-name>
 		<filter-class>tk.circuitcoder.grafixplane.filter.ControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
		
</web-app>
